<app-loader *ngIf="loaderVisible"></app-loader>
<app-navbar></app-navbar>


<div class="container-fluid" *ngIf="!loaderVisible">
  <div class="alert alert-success">
    <h3><img src="../../../assets/paciente.png" style="width: 30px;"><strong>Crear Paciente</strong></h3>
  </div>
</div>

<div class="container-fluid" *ngIf="!loaderVisible">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="clientForm">

        <div class="row">
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Nombres</span>
              </div>
              <input type="text" class="form-control" formControlName="clientName">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Direccion</span>
              </div>
              <input type="text" class="form-control" formControlName="clientAddress">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Documento</span>
              </div>
              <input type="text" class="form-control" formControlName="documentNumber">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Telefono</span>
              </div>
              <input type="text" class="form-control" formControlName="telephone">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tipo de documento</span>
              </div>
              <select class="form-control" formControlName="documentType">
                <option *ngFor="let documentType of documentTypeList" value="{{documentType.id}}">
                  {{documentType.description}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Genero</span>
              </div>
              <select class="form-control" aria-label="Default select example" formControlName="gender">
                <option *ngFor="let gender of genderList" value="{{gender.id}}">{{gender.description}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Eps</span>
              </div>
              <br>
              <select class="form-control" aria-label="Default select example" formControlName="eps">
                <option *ngFor="let eps of epsList" value="{{eps.id}}">{{eps.description}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Fecha Nacimiento</span>
              </div>
              <br>
              <input class="form-control" type="date" formControlName="dateOfBirth" />
            </div>
          </div>
        </div>

        <div class="col-sm-12 text-center">
          <button type="button" class="btn btn-success" (click)="createClient()">Guardar</button>
        </div>
        
      </form>
    </div>
  </div>