<div class="container-fluid">
  <h1>Pacientes</h1>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-12">
        <hr> 
        <form [formGroup]="clientForm">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Nombres</label>
              <input type="text" class="form-control" formControlName="clientName">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="eps">Direccion:</label>
              <input type="text" class="form-control" formControlName="clientAddress">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="eps">Eps:</label>
              <input type="text" class="form-control" formControlName="eps">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="pwd">Documento:</label>
              <input type="text" class="form-control" formControlName="documentNumber">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="telephone">Telefono:</label>
              <input type="number" class="form-control" formControlName="telephone">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="form-control">Tipo de documento:</label>
              <select class="form-control" aria-label="Default select example" formControlName="documentType">
                <option *ngFor="let documentType of documentTypeList" [ngValue]="documentType.id">
                  {{ documentType.description }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="form-control">Genero:</label>
              <select class="form-control" aria-label="Default select example" formControlName="gender">
                <option *ngFor="let gender of genderList" [ngValue]="gender.id">
                  {{ gender.description }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success" (click)="createClient()" style="margin: 10px;">Guardar</button>
            <button type="submit" class="btn btn-success" [routerLink]="['/diagnostico']">Salir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>