<div class="container-fluid">
    <h1>Clientes</h1>
    <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-12">
            <hr>
            <form>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="name">Nombres</label>
                      <input type="name" class="form-control" id="name">
                  </div>          
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                    <label for="eps">Direccion:</label>
                    <input type="text" class="form-control">
                  </div>
              </div>       
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="eps">Eps:</label>
                  <input type="eps" class="form-control" id="eps">
                </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
                <label for="pwd">Documento:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
        </div>  
          <div class="col-sm-6">
            <div class="form-group">
                <label for="telephone">Telefono:</label>
                <input type="telephone" class="form-control" id="telephone">      
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
              <label for="form-select">Tipo de documento:</label>   
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccionar</option>
                <option value="1">Cedula</option>
                <option value="2">Cedula de extrangeria</option>
                <option value="3">Tarjeta de identidad</option>
              </select>
            </div>    
        </div>
        <div class="col-sm-3">
            <div class="form-group">
              <label for="form-select">Genero:</label>   
              <br>
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccionar</option>
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
              </select>
            </div>
        </div>
              <div class="col-sm-6">
                  <button type="submit" class="btn btn-success">Guardar</button>
              </div>    
            </form>
          </div> 
</div>
