<div class="container-fluid"> 
  <div class="text-center">   
    <img src="../../../assets/Logo Endotest Medical_HORIZONTAL.png" alt="Logo Endotest" width="200px" style="padding: 10px;">
  </div>
</div> 
<div class="col-12">
  <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
    </ol>
  </nav>
</div>
<div class="container-fluid">
  <div class="container">
    <h2 *ngIf="isVisibleFindUser">Buscar Paciente</h2>
    <!--<img src="data:image/png;base64,{{image}}" alt="" width="auto">-->
    <form [formGroup]="findPatienceForm" *ngIf="isVisibleFindUser">
      <div class="form-group">
        <label for="email">Nro. Documento</label>
        <input type="email" class="form-control me-2" formControlName="documentNumberPatience">
      </div>
      <div class="form-group">
        <button class="btn btn-outline-success" type="submit" (click)="searchClient()" style="margin-right: 10px;">Crear diagnostico</button>
        <button class="btn btn-outline-success" type="submit" [routerLink]="['/paciente']">Crear paciente nuevo</button>
      </div>
    </form>
  </div>

<div class="container-fluid" *ngIf="customerFound">
  <div class="container"> 
    <div class="col-3" style="margin-left: auto;margin-right: auto;">   
      <img src="../../../assets/Logo Endotest Medical_HORIZONTAL.png" class="d-block" alt="Logo Endotest" width="200px">
    </div> 
  </div>
<div class="col-12">
  <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
    </ol>
  </nav>
</div>
<div class="container-fluid">
    <div class="row content">
      <div class="col-sm-12">
        <h2>Examen</h2>
        <form [formGroup]="diagnosticForm">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" class="form-control" formControlName="idPatient" readonly=true>
              </div>          
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="pwd">Documento:</label>
                  <input type="text" class="form-control" formControlName="idPatient" readonly=true>
                </div>
          </div>         
      <div class="col-sm-6">
          <div class="form-group">
              <label for="eps">Eps:</label>
              <input type="text" class="form-control" formControlName="eps" placeholder="Nombre de la EPS">
            </div>
      </div>
      <div class="col-sm-12">
          <div class="form-group">
              <label for="record">Antecedentes:</label>
              <textarea class="form-control" formControlName="antecedent" rows="5" id="exam" placeholder="Antecedentes del paciente"></textarea>
            </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
            <label for="exam">Motivo de consulta:</label>
            <textarea class="form-control" formControlName="reasonForConsultation"
            placeholder="Razon de la consulta" rows="5" id="exam"></textarea>
          </div>    
    </div>
      <div class="col-sm-12">
          <div class="form-group">
              <label for="exam">Examen fisico:</label>
              <textarea class="form-control" formControlName="physicalExam" placeholder="Examenes Fisicos" rows="5" id="exam"></textarea>
            </div>    
      </div>

      <div class="col-sm-12">
          <div class="form-group">
              <label for="comment">Descripción:</label>
              <textarea class="form-control" rows="20" id="comment" style="font-size: 12;">
                    ESOFAGO:
                    Luz conservada, peristaltismo positivo, paredes que se distienden fácilmente, mucosa sana en su tercio proximal, medio y distal. Cardias a los 35cm, pinza diafragmática a los 37cm. No se aprecia hernia hiatal.
                    ESTOMAGO:
                    Vacío en ayunas. Paredes flexibles, pliegues de aspecto y características normales, mucosa fundica y corporal normal, mucosa antral hiperemica con inflamatorio fino, sin ulceras, ni tumores. Se toman biopsias de antro.
                    En retro visión cardias normal. Píloro centrado.
                    DUODENO:
                    Bulbo duodenal mucosa sana. Segunda porción normal. Papila normal.
                    DIAGNOSTICO:

                    INDICACION:
                    Piel perineal de aspecto normal. No hay hemorroides externas, fistula ni fisura.
                    TACTO RECTO:
                    Esfínter tónico, ampolla recta vacía, no se palpan masas.
                    VISUALIZACION:
                    Excelente preparación: se avanza hasta el ciego sin dificultad apreciando colon de paredes elásticas y mucosa de aspecto sano, no hay divertículos, no pólipos ni tumor. Ciego y valvula ileocecal de aspecto normal.
                    DIAGNOSTICO:
                    Colonoscopia total normal.
              </textarea>
            </div>    
      </div>
      <div class="col-sm-9">
        <div class="form-group">
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Seleccione las imagenes</label>
            <input class="form-control" type="file" formControlName="files" (change)="handleFileInput($event)">
          </div>
        </div>
      </div> 
      <div class="col-sm-9">
        <div class="form-group">
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Seleccione las imagenes</label>
            <input class="form-control" type="file" formControlName="files" (change)="handleFileInput($event)">
          </div>
        </div>
      </div> 
      <div class="col-sm-9">
        <div class="form-group">
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Seleccione las imagenes</label>
            <input class="form-control" type="file" formControlName="files" (change)="handleFileInput($event)">
          </div>
        </div>
      </div> 
          <div class="col-sm-6">
              <button type="submit" class="btn btn-success" style="margin-bottom: 10px;" (click)="createDiagnostic()">Guardar</button>
          </div>    
        </form>
      </div>    
    </div>
    <app-pdf [dianostic]="diagnosticData" *ngIf="isVisiblePdf"></app-pdf>
</div>

  