<div class="col-9">
    <h4 style="margin-top: 10px; margin-bottom: 10px;">Buscar examenes</h4>
    <div class="col-9">
        <form action="" class="">
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" placeholder="Ingrese cedula del paciente">
                <button type="submit" class="input-group-text btn-success" style="margin-left: 2PX;"> Buscar</button>
            </div>
        </form>
    </div>
    <div class="col-9">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>